<h1 class="text-center">Stupid Coaching</h1>


<div class="d-flex align-items-center flex-column">

  <h5>Submit your question to the Stupid Coach here :)</h5>

  <form action="/answer" data-turbo="false" class="d-flex">
    <input type="text" name="???" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>

</div>
